<div class="skp-container">
  <div id="theTarget">
    <div class="skp-image1"></div>
    <div class="skp-image2"></div>
    <div class="skp-image3"></div>
    <div class="skp-image4"></div>
    <div class="skp-image5"></div>
  </div>
</div>
<div class="about-text-container1">
  <p class="about-title">about</p>
  <p class="about-text">
    「9年」<br>
    この数字は、一生のうちに親子が一緒に過ごせる期間と言われています。<br>
    「進学・就職・結婚」。それぞれの節目でそれぞれの道を歩む人生。<br>
    新たな景色や出会いの一方で、必ず訪れる別れ。<br>
    両親は元気に過ごしているか、気にはなるけど<br>
    近況を報告、確認するのは少し照れ臭い。<br>
    <br>
    そんな照れが要因で、貴重な人生の期間を共有できないのはもったいないと思い、<br>
    写真を通じて気軽に元気な姿を家族に伝えるツールとしてサービスを作りました。
    <br>
  </p>
</div>
<div class="about-text-container2">
  <p class="about-title">how to use</p>
  <p class="about-text">
    「9年」<br>
    この数字は、一生のうちに親子が一緒に過ごせる期間と言われています。<br>
    「進学・就職・結婚」。それぞれの節目でそれぞれの道を歩む人生。<br>
    新たな景色や出会いの一方で、必ず訪れる別れ。<br>
    両親は元気に過ごしているか、気にはなるけど<br>
    近況を報告、確認するのは少し照れ臭い。<br>
    <br>
    そんな照れが要因で、貴重な人生の期間を共有できないのはもったいないと思い、<br>
    写真を通じて気軽に元気な姿を家族に伝えるツールとしてサービスを作りました。
    <br>
  </p>
</div>
