<div class="skp-container">
  <div class="theTarget">
    <div class="main-image1"></div>
    <div class="main-image2"></div>
    <div class="main-image3"></div>
    <div class="main-image4"></div>
    <div class="main-image5"></div>
  </div>
</div>
<div class="about-text-container1">
  <p class="about-title">about</p>
  <p class="about-text">
    「9年」<br>
    この数字は、一生のうちに親子が一緒に過ごせる期間と言われています。<br>
    「進学・就職・結婚」。それぞれの節目でそれぞれの道を歩む人生。<br>
    新たな景色や出会いの一方で、必ず訪れる別れ。<br>
    両親は元気に過ごしているか、気にはなるけど<br>
    近況を報告、確認するのは少し照れ臭い。<br>
    <br>
    そんな照れが要因で、貴重な人生の期間を共有できないのはもったいないと思い、<br>
    写真を通じて気軽に元気な姿を家族に伝えるツールとしてサービスを作りました。
    <br>
    <br>
    <br>
    <p class="about-thema">「離れていても、近くにいるように」</p>
  </p>
</div>
<div class="about-text-container2">
  <p class="about-title">how to use</p>
  <p class="about-headline"><i class="fas fa-camera-retro"></i> 写真を投稿・共有</p>
  <div class="skp-container2">
    <div id="theTarget2">
      <div class="about-image1"></div>
      <div class="about-image2"></div>
    </div>
  </div>
  <p class="about-headline"><i class="fas fa-book-open"></i> お気に入りの写真でフォトブックを作成</p>
  <div class="skp-container3">
    <div id="theTarget3">
      <div class="about-image3"></div>
      <div class="about-image4"></div>
      <div class="about-image5"></div>
    </div>
  </div>
  <div class="album-price">
    <p>30枚以内　2,000円(税込)/1アルバム</p>
    <p>50枚以内　2,500円(税込)/1アルバム</p>
    <p>※1アルバムで最大50枚までとなります。</p>
  </div>
</div>

