<div class="container form-container">
  <div class="col-xs-8 col-xs-offset-2 form-box">
    <h4 class="form-title">選択中の写真</h4>
      <div class="cart-images-container">
        <% @cart_images.each do |cart_image| %>
          <%= attachment_image_tag cart_image.post_image, :image %>
        <% end %>
      </div>
      <div class="cart-btn-container">
        <%= link_to "注文情報入力画面に進む", post_images_path, class:"btn btn-default" %>
      </div>
  </div>
</div