/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// 共通
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: sans-serif;
  background-color: #EEE;
  a:link { color: #333; text-decoration: none }
  a:visited { color: #333; text-decoration: none }
  a:hover { color: #333; text-decoration: none }
  a:active { color: #333; text-decoration: none }
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

// 共通サクセス・エラーメッセージ
.success-flash {
  width: 100%;
  position: relative;
  top: 70px;
  padding: 5px;
  text-align: center;
  background-color: #CCFFCC;
  color: green;
}

.alert-flash {
  width: 100%;
  position: relative;
  top: 70px;
  padding: 5px;
  text-align: center;
  background-color: #FFBEDA;
  color: red;
}
.error-flash {
  color: red;
}

.error_explanation {
  color: red;
}


//共通ヘッダー
header {
  width: 100%;
  height: 70px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 9998;
  display: flex;
}

.header-nav {
  width: 80%;
  height: 70px;
  margin: 0 auto;
}

.nav-logo {
  float: left;
  line-height: 60px;
  font-size: 30px;
  font-family: "Century Gothic";
}

.nav-user {
  float: left;
  line-height: 70px;
  margin-left: 70px;
}

.nav-user i {
  margin-right: 5px;
}

.nav-items {
  float: right;
}

.nav-item {
  padding: 0 20px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  line-height: 70px;
}

.p-nav-item {
  padding: 0 20px;
  text-align: center;
  display: inline-block;
  line-height: 70px;
  position: relative;
}

.child-nav-item1 {
  display: none;
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0px;
  z-index: 10;
}

.child-nav-item2 {
  display: none;
  width: 100%;
  position: absolute;
  top: 140px;
  left: 0px;
  z-index: 10;
}

.child-nav-item3 {
  display: none;
  width: 100%;
  position: absolute;
  top: 210px;
  left: 0px;
  z-index: 10;
}

.child-nav-item4 {
  display: none;
  width: 100%;
  position: absolute;
  top: 280px;
  left: 0px;
  z-index: 10;
}

.child-nav-item5 {
  display: none;
  width: 100%;
  position: absolute;
  top: 350px;
  left: 0px;
  z-index: 10;
}

.nav-item:hover {
  background-color: rgba(0,0,0,0.9);
  color: white;
  transition: background-color 700ms;
}

.p-nav-item:hover {
  background-color: rgba(0,0,0,0.9);
  color: white;
  transition: background-color 700ms;
  .child-nav-item1,
  .child-nav-item2,
  .child-nav-item3,
  .child-nav-item4,
  .child-nav-item5 {
    display: block;
    background-color: rgba(255,255,255,0.9);
    color: #333;
    transition: background-color 900ms;
  }
}

.p-nav-item {
  .child-nav-item1:hover,
  .child-nav-item2:hover,
  .child-nav-item3:hover,
  .child-nav-item4:hover,
  .child-nav-item5:hover {
    background-color: rgba(0,0,0,0.9);
    color: white;
    transition: background-color 700ms;
  }
}

.rsp-menu {
  display: none;
  font-size: 32px;
  float: right;
  margin-right: 50px;
  line-height: 70px;
}

.menu-whitedisplay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255,255,255,0.98);
}

.white-display-close-btn {
  float: right;
  font-size: 36px;
  margin-right: 50px;
  margin-top: 12px;
}

.rsp-menu-items {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 20px;
}

.rsp-menu-item {
  padding: 15px;
  width: 50%;
  text-align: center;
}

.rsp-menu-item:hover {
  background-color: rgba(0,0,0,0.9);
  color: white;
  transition: background-color 900ms;
}

// トップに戻るボタン
#back {
  position: fixed;
  right: 30px;
  bottom: 30px;
  font-size: 30px;
}

// フッター
footer {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-icon {
  font-size: 20px;
  padding: 10px
}

.footer-nav-logo {
  font-size: 30px;
  font-family: "Century Gothic";
  padding: 0 120px;
}

.footer-contact {
  font-size: 16px;
}


//共通フォーム
.form-container {
  width: 100%;
}

.form-box {
  width: 60%;
  margin: 120px auto 50px;
  padding: 50px 80px;
  box-shadow: 0 0 8px #333;
  background-color: white;
}

.form-box-s {
  width: 40%;
  margin: 120px auto 50px;
  padding: 50px 80px;
  box-shadow: 0 0 8px #333;
  background-color: white;
}

.form-title {
  display: inline-block;
  padding: 7px;
  background-color: #EEE;
}

.btn {
  display: block;
  margin: 0 auto;
}


// ページネーション
.pager {
  margin: 40px auto 70px;
}

/*ページネーション自体のデザイン*/
.pagination >li >a {
  border: none;     /*枠線をなくす*/
  color: #333;   /*文字の色を変える*/
  background: white;
}

/* 表示しているページ番号のデザイン */
.pagination > .active >a {
  background: #333;     /*背景の色を変える*/
  color: white;
}

/*ホバー時のデザイン*/
.pagination >li >a:hover {
  background-color: #333;
  color: white;
}

.pagination > .active >a:hover {
  background: #333;
  color: white;
}


@media (max-width:1024px) {
  .nav-items {
    display: none;
  }

  .rsp-menu {
    display: block;
  }
}

// @media (max-width:425px) {
//   .form-box-s {
//     width: 80%;
//     margin: 120px auto 50px;
//     padding: 50px 80px;
//     box-shadow: 0 0 8px #333;
//     background-color: white;
//   }
// }

