// Place all the styles related to the CartImages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index
.cart-images-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.cart-images-container img {
  object-fit: cover;
  margin: 1px;
  width: 100px;
  height: 100px;
}

.cart-images-container img:hover{
  opacity: 0.6;
  transition-duration: 0.2s;
}

.cart-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}