// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// トップページ
.main-image1 {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.categories-container {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 80px auto 30px;
}

.image-boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 64%;
  margin: 0 auto 80px;
}

.image-box img {
  object-fit: cover;
  margin-top: 10px;
}