// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// トップページ
.skp-container {
  width: 100%;
  height: 500px;
  margin-top: 70px;
}

.categories-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 100px auto 40px;
}

.category-bar {
  margin: 0 20px 20px;
  border: 2px solid #333;
  border-radius: 0;
  background: #fff;
  box-shadow: 4px 4px 0 #333;
  padding: 7px;
  transition: .2s;
}

.category-bar:hover {
  box-shadow: -4px -4px 0 #333;
}

.image-boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 0 auto 120px;
}

.image-box img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 5px;
}

.image-box img:hover {
  opacity: 0.6;
  transition-duration: 0.2s;
}

.no-post-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
  margin-top: 70px;
  font-size: 18px;
}


// アバウトページ
// skp-containerはトップページと共通

.main-image1 {
  background-image: image-url('test1.jpg')
}

.main-image2 {
  background-image: image-url('test2.jpg')
}

.main-image3 {
  background-image: image-url('test3.jpg')
}

.main-image4 {
  background-image: image-url('test4.jpg')
}

.main-image5 {
  background-image: image-url('test5.jpg')
}

.about-text-container1 {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: white;
}

.about-title {
  font-family: "Century Gothic";
  height: 90px;
  font-size: 32px;
}

.about-text {
  font-size: 18px;
  line-height: 30px;
}

.about-thema {
  font-size: 20px;
}

.about-text-container2 {
  width: 100%;
  padding: 50px 0;
  text-align: center;
}

.skp-container2 {
  width: 450px;
  height: 622px;
  margin: 0 auto 70px;
  box-shadow: 0 0 8px #333;
}

.about-headline {
  display: inline-block;
  font-size: 18px;
  border-bottom: 5px solid white;
  margin-bottom: 30px;
}

.about-image1 {
  background-image: image-url('wemory.png');
}

.about-image2 {
  background-image: image-url('wemory_post_images.png');
}

.skp-container3 {
  width: 640px;
  height: 400px;
  margin: 0 auto;
  box-shadow: 0 0 8px #333;
}

.about-image3 {
  background-image: image-url('wemory_post_image_show.png');
}

.about-image4 {
  background-image: image-url('wemory_cart_images.png');
}

.about-image5 {
  background-image: image-url('wemory_photo_book.png');
}

.album-price {
  margin-top: 20px;
  font-size: 16px;
}