// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// トップページ
.main-image1 {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.categories-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 80px auto 40px;
}

.category-bar {
  border: 1px solid #333;
  border-radius: 0;
  background: #fff;
  box-shadow: 4px 4px 0 #333;
  padding: 7px;
  transition: .2s;
}

.category-bar:hover {
  box-shadow: -4px -4px 0 #333;
}

.image-boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 0 auto 80px;
}

.image-box img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  padding: 20px;
  border-radius: 25px;
}

.image-box img:hover {
  opacity: 0.6;
  transition-duration: 0.2s;
}

.skp-container {
  width: 100%;
  height: 500px;
  margin-top: 70px;
}

#theTarget img {
  object-fit: cover;
}

// アバウトページ
// skp-containerはトップページと共通

.skp-image1 {
  background-image: image-url('test1.jpg')
}

.skp-image2 {
  background-image: image-url('test2.jpg')
}

.skp-image3 {
  background-image: image-url('test3.jpg')
}

.skp-image4 {
  background-image: image-url('test4.jpg')
}

.skp-image5 {
  background-image: image-url('test5.jpg')
}

.about-text-container1 {
  width: 100%;
  height: 500px;
  text-align: center;
  background-color: white;
}

.about-title {
  font-family: "Century Gothic";
  padding: 50px;
  font-size: 32px;
}

.about-text {
  font-size: 18px;
  line-height: 30px;
}

.about-text-container2 {
  width: 100%;
  height: 500px;
  text-align: center;
}