// Place all the styles related to the PostImages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// index

// カテゴリーバーのcssはhomes.scssと共通

.index-image-boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 65%;
  margin: 0 auto 80px;
}

.index-image-box img {
  object-fit: cover;
  margin: 3px;
  width: 200px;
  height: 200px;
}

.index-image-box img:hover{
  opacity: 0.6;
  transition-duration: 0.2s;
}

// show
.whitedisplay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
  z-index: 9999;
}

.close-btn {
  font-size: 50px;
  float: right;
  margin-top: 40px;
  margin-right: 80px;
}

.post-image-show {
  width: 100%;
  display: flex;
  justify-content: center;
}

.post-image-show img {
  object-fit: contain;
  width: 80%;
  height: 65vh;
}

.image-detail {
  width: 55%;
  margin: 15px auto 0;
  font-size: 18px;
}

.image-int {
  display: inline-block;
  float: right;
}

.fa-shopping-cart {
  margin-left: 15px;
}

.edit-btn {
  margin-top: 20px;
  text-align: center;
}

.edit-btn a {
  margin-right: 10px;
  border-bottom: 1px solid #333;
}

// edit
.edit-post-image img {
  object-fit: contain;
  width: 50%;
  height: 20vh;
  margin-bottom: 15px;
}