<div class="categories-container">
  <% @categories.each do |category| %>
    <div class="category-bar btn btn-default">
      <%= category.name %>
    </div>
  <% end %>
</div>
<div class="index-image-boxes-container">
  <% @post_images.each do |post_image| %>
      <div class="index-image-box">
        <%= link_to post_image_path(post_image) do %>
          <%= attachment_image_tag post_image, :image %>
        <% end %>
      </div>
  <% end %>
</div>

