<div class="whitedisplay">
  <div class="close-btn">
    <%= link_to post_images_path do %>
      <i class="fas fa-times"></i>
    <% end %>
  </div>
  <div class="post-image-show">
    <%= attachment_image_tag @post_image, :image %>
  </div>
  <div class="image-detail">
    <span class="favorites-btn">
      <%= render "post_images/favorite", post_image: @post_image %>
    </span>
    <span>
      <i class="fas fa-shopping-cart"></i>
    </span>
    <span class="image-int">
      <i class="far fa-comment"></i>
      <%= @introduction %>
    </span>
  </div>
</div>