<div class="whitedisplay">
  <div class="close-btn">
    <%= link_to post_images_path do %>
      <i class="fas fa-times"></i>
    <% end %>
  </div>
  <div class="post-image-show">
    <%= attachment_image_tag @post_image, :image %>
  </div>
  <div>
    <div class="favorites-btn">
      <%= render "post_images/favorite", post_image: @post_image %>
    </div>
    <p><%= @introduction %></p>
  </div>
</div>